<p>You chose: <%= @user_choice %></p>
<p>The computer chose: <%= @game_choice %></p>
<p>Result: <%= @result.result %>
<form action="/choose-your-weapon">
  <input type="submit" value="Play again?">
</form>